*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-image: url('Day29.webp');
    background-size:100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    color: rgb(193, 225, 207);
}
p{
    color: rgb(184, 213, 194);
    padding-bottom: 8px;
}
form{
    background-color: rgba(18, 87, 60, 0.842);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    height: 250px;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    border: solid 5px rgba(255, 255, 255, 0.79);
    border-radius: 20px;
    opacity: 80%;
}
#Login{
    width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px;
    background-color: black;
    color: rgb(121, 212, 116);
    font-size: 25px;
    border-radius:10px;
    cursor: pointer;
}
input{
    width: 60%;
    height: 20px;
    margin-left: 10px;
    opacity: 80%;
    background-color: black;
    color: rgb(121, 212, 116);
    border-radius:10px;
    padding: 5px;
}
#form_data{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    font-size: 22px;
}
#form{
    margin-top:20px ;
}
@media only screen  and (max-width:480px){
    body{
        background-size:auto auto;
    }
    form{
        width: 70%;
        height: 280px;
        margin-top: 50%;
    }
    #form{
        margin-top:30px;
    }
    #form_data{
        margin-top: 1px;
        font-size: 20px;
        width: fit-content;
    }
    input{
        width: 60%;
        margin-left: 5px;
    }
    p{
        width: 40%;
    }
    
}