body{
    margin: 0px;
}
.nav{
    list-style-type: none;
    margin: 0px;
    margin-right: 5%;
}
#navbar{
    background-color: rgb(74, 220, 162);
    height: 50px;
    width: 100%;
    margin: 0%;
    margin-top: 0px;
}
.nav-item-li{
    text-align:right;
}
.logo{
    float: left;
    font-weight: 600;
}
.nav_item{
    text-align:right;
    margin: 7px 20px;
    float: right;
    font-size: 23px;  
}
.logo{
    float: left;   
}
img{
    height: 35px;
    width: 110px;
}